     /* warna scrollbar */
     ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      /* warna track */
      ::-webkit-scrollbar-track {
        background: #dcf3ea;
      }

      /* warna thumb */
      ::-webkit-scrollbar-thumb {
          background: #009999;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
      }
      #data_ecomm {
          border: none !important;
      }
      .spinner-3 {
          width: 50px;
          padding: 6px;
          aspect-ratio: 1;
          border-radius: 50%;
          background: #25b09b;
          --_m:
              conic-gradient(#0000 10%,#000),
              linear-gradient(#000 0 0) content-box;
          -webkit-mask: var(--_m);
                  mask: var(--_m);
          -webkit-mask-composite: source-out;
                  mask-composite: subtract;
          animation: s3 1s infinite linear;
      }
      .spinner-4 {
          width: 20px;
          padding: 2px;
          aspect-ratio: 1;
          border-radius: 50%;
          background: #25b09b;
          --_m:
              conic-gradient(#0000 10%,#000),
              linear-gradient(#000 0 0) content-box;
          -webkit-mask: var(--_m);
                  mask: var(--_m);
          -webkit-mask-composite: source-out;
                  mask-composite: subtract;
          animation: s3 1s infinite linear;
      }
      @keyframes s3 {to{transform: rotate(1turn)}}
